.bgcolor{
    background-color:#CFB53B;
}

.size{
    padding: 5px;
    height: 5vh;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 10px;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

}
.checkin{
    position: relative;
}

.position{
    position: fixed;
}

.header{
    width: 100%;
    height: 10vh;
    background-color: rgb(110, 100, 100);

}

.btnsearch{
    padding: 2px;
    width: 75px;
    
    border-radius: 2px; 
    color: white;
    font-weight: 500;
    padding-bottom: 3px;
}
.topper{
    background-image: url('../images/homepage/recep.webp');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 30vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.selectwidth{
    width: 200px;
}

.border{
    border: 2px groove;
}
.acordionbody{
    padding: 20px;
    width:  98%;
    
    margin-left: 10px;
    color: black;
    background-color: white;
    
}
tr{
    border: 1px groove;
}

h1{
    font-size: 1.2rem;
    font-weight: bold;
}

.t1>tr:nth-child(odd){
   background-color: rgb(213, 238, 246);
}

.t2>tr:nth-child(even){
    background-color: rgb(213, 238, 246);
 }
 
 .t3>tr:nth-child(odd){
    background-color: rgb(213, 238, 246);
 }

table{
    width: 100%;
    font-weight: 400;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 2px  rgba(0,0,0,0.2);
}

.t1>tr>td:nth-child(even){
    width: 30%;
}

.ht20{
    height: 20vh;
}

.imgsize{
    width: 270px;
    height: 160px;
}

.acordionfooter{
    height: 3vw;
    background-color: lightgray;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.bdw{
    width: 100%;
    margin-left: 1px;
}

.imgsizebig{
    width: 70vw;
    height: 40vh;
}

.bgbody{
    background-color: whitesmoke;
    height:100%;
}

html{
    width: 100%;
    background-color: whitesmoke;
}

