html{
    background-color: white;
}


.user__account__container {
   background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account__container {
    background-color: white;
    width: 100%;
    padding: 5%;
}

.account__header {
    width: 90%;
  
    font-size: 2rem;
    font-weight: bolder;
}

.account__header h1{
    width: 100%;
    
    font-size: 2.5rem;
    font-weight: bolder;
}

.account__page__detail {
    background-color: white;
    display: flex;
    flex-direction: column;
   
} 